
.custom-card {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    margin: 0 auto;
    max-width: 400px;
    transition: all 0.3s;
  }
  
  .custom-card:hover {
    border-color: blue;
    transform: scale(1.02);
    box-shadow: 0 0 10px #08BAE3;
  }
  